<!-- <section class="services-intro">
  <ul>
    <li>
      <figure>
<img width="400" height="400" alt="">
<figcaption>
  <h3>Service 1</h3>
</figcaption>
</figure>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat
</p>
<a href="#">See Service 1</a>
</li>
<li>
  <figure>
    <img width="400" height="400" alt="">
    <figcaption>
      <h3>Service 2</h3>
    </figcaption>
  </figure>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat
  </p>
  <a href="#">See Service 2</a>
</li>
</ul>
 </section> -->
<section class="quick-services-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h5>Choose a Device</h5>
          <h2>Fast Repair Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="../../../../assets/images/hero-section/services-1.png" alt="service1" height="400" width="400">
            </div>
            <h3>iPhones</h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="../../../../assets/images/hero-section/services-4.png" alt="service2" width="400" height="400">
            </div>
            <h3>Tablets</h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="../../../../assets/images/hero-section/services-2.png" alt="service3" height="400" width="400">
            </div>
            <h3>Smartphones</h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="" alt="service4" width="300" height="300">
            </div>
            <h3>Game Consoles</h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="" alt="service5" width="300" height="300">
            </div>
            <h3>Game Controllers</h3>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#" class="quick-services-box">
            <div class="quick-services-img">
              <img src="" alt="service6" width="300" height="300">
            </div>
            <h3>Other Services</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>