<!-- <main>
  <div class="home-collection">
    <div class="collection-item">
      <a class="collection-item__image" href="#"></a>
      <div class="collection-item__name">
        <p>
          <a href="#">Welcome banner / Intro Section</a>
        </p>
      </div>
      <div class="collection-item__description">
        <p>Welcome banner description text</p>
      </div>
    </div>
    <div class="collection-item">
      <a class="collection-item__image" href="#"></a>
      <div class="collection-item__name">
        <p>
          <a href="#">Newsletter / FAQs Section</a>
        </p>
      </div>
      <div class="collection-item__description">
        <p>Newsletter / FAQs section text</p>
      </div>
    </div>
    <div class="collection-item">
      <a class="collection-item__image" href="#"></a>
    </div>
    <div class="collection-item">
      <a class="collection-item__image" href="#"></a>
    </div>
  </div>
</main> -->

<main class="wrapper">
  <app-hero-section></app-hero-section>
  <app-product-services-intro-section></app-product-services-intro-section>
</main>